.container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    margin-top: 50px;
}
