.container {
    display: flex;
    flex-direction: column;
    height: 40vh;
    min-height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
