table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

thead th {
  line-height: 1.5;
}

th,
td {
  padding: 3px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
  border: 1px solid rgb(0, 0, 0);
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: center;
}

thead th,
tfoot th,
tfoot td {
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
}

tbody tr:nth-child(odd) {
  background-color: #8b8b8b;
}

tbody tr:nth-child(even) {
  background-color: #e8e8e8;
}
